<!DOCTYPE html>
<html>
<head>
  <title>Referrer</title>
  <%= stylesheet_link_tag    "referrer/application", media: "all" %>
  <%= javascript_include_tag "referrer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
